# Save into your repo as .github/workflows/on-tag.yaml
name: On Tag
on:
  push:
    tags:
      - "v*"
jobs:
  publish:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set Tag
        run: |
          echo "TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: dukeman/wikileet:latest,dukeman/wikileet:${{ env.TAG }},dukeman/wikileet:${{ GITHUB_SHA }}
          platforms: linux/amd64,linux/arm64